/*------------------------------------------------------------------
[ Master Stylesheet ]

Project:      Project Name

-------------------------------------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*------------------------------------------------------------------
[ Global Variables ]
-------------------------------------------------------------------*/
$headerHeight: 50px;
$footerHeight: 50px;

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$phone: "(min-width: 320px) and (max-width:767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  color: #ffaa00;
}


/* Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*------------------------------------------------------------------
[ General layout ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[ Headerbar ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[ Typography ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[ Animation ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[ Footer ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[ Section 1 ]
-------------------------------------------------------------------*/
